argh==0.26.2    
beautifulsoup4==4.8.1     
behave==1.2.6     
bs4==0.0.1     
cachier==1.2.8     
certifi==2019.11.28
chardet==3.0.4     
Click==7.0       
idna==2.8       
loguru==0.4.0     
lxml==4.4.2     
packaging==19.2      
parse==1.12.1    
parse-type==0.5.2     
pathtools==0.1.2     
pip==19.3.1    
plumbum==1.6.8     
portalocker==1.5.2     
pymongo==3.9.0     
pyparsing==2.4.5     
PySocks==1.7.1     
pyTelegramBotAPI==3.6.6     
python-rex==0.4       
PyYAML==5.2       
requests==2.22.0    
setuptools=40.8.0    
six==1.13.0    
soupsieve==1.9.5     
telebot==0.0.3     
telegram==0.0.1     
updater==0.1.24    
urllib3==1.25.7    
watchdog==0.9.0 
